body{
    font-family: Arial;
    color: black;
    padding: 15px;
 }
p{
    margin: 6px;
}
h6{
    margin: 1px;
}
h5{
    font-size: 20px;
    background-color: #59b8cc;
    padding: 5px;
    text-align: center;
}
h4{
    align-self: flex-end;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: blue;
}
img{
    max-width: 200px;
    height: auto;
    display: block;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #59b8cc;
    padding: 15px;
}
.text-hide{
    max-width: 60px;
    height: auto;
    display: block;
}    
.cont1{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.cont2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
.cont3{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.dev{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}
span{
    padding-right: 100px;
}
